<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & Managed updates</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti quod
      ipsa facilis ad quos totam illo recusandae. Assumenda repudiandae totam
      iure voluptate, sed blanditiis, consequatur beatae, ducimus debitis
      adipisci placeat!
    </p>
  </div>
</div>
